footer.templateux-footer
    .container
      .row.mb-5
        .col-md-4.pr-md-5.mb-4
          .block-footer-widget
            h3 About Steak Restaurant
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
            p
              a.btn.btn-black.btn-outline-black.py-2.px-4(href='#') About Us
        .col-md-8
          .row
            .col-md-3.mb-4
              .block-footer-widget
                h3 Quick Links
                ul.list-unstyled
                  li
                    a(href='#') Home
                  li
                    a(href='#') Menu
                  li
                    a(href='#') Gallery
                  li
                    a(href='#') Reservation
            .col-md-3.mb-4
              .block-footer-widget
                h3 Support
                ul.list-unstyled
                  li
                    a(href='#') FAQ
                  li
                    a(href='#') Contact Us
                  li
                    a(href='#') Call Us
            .col-md-3.mb-4
              .block-footer-widget
                h3 About Us
                ul.list-unstyled
                  li
                    a(href='#') About Us
                  li
                    a(href='#') Careers
                  li
                    a(href='#') Terms of Service
                  li
                    a(href='#') Privacy Policy
            .col-md-3.mb-4
              .block-footer-widget
                h3 Connect With Us
                ul.list-unstyled.block-social
                  li
                    a.p-1(href='#')
                      span.icon-facebook-square
                  li
                    a.p-1(href='#')
                      span.icon-twitter
                  li
                    a.p-1(href='#')
                      span.icon-instagram
                  li
                    a.p-1(href='#')
                      span.icon-youtube-play
          // .row
          // .row
          .row.pt-5.text-left
            .col-md-12.text-center
              p
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.icon-heart(aria-hidden='true')
                |  by 
                a.text-primary(href='https://colorlib.com', target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                // .row
                // .templateux-footer
                // .js-animsition
                script(src='js/scripts-all.js')
                script(src='js/main.js')
                script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
                script(src='js/google-map.js')
