extends layout

block content
  // ================Hero Banner Section start =================
  section.hero-banner.hero-banner-sm
    .hero-wrapper
      .hero-left
        h1.hero-title Blog Single
        p
          | From  set together our divided own saw divided the form god 
          br.d-none.d-xl-block
          |  seas moveth you will fifth under replenish end
        ul.hero-info.d-none.d-md-block
          li
            img(src="img/banner/fas-service-icon.png" alt="")
            h4 Fast Service
          li
            img(src="img/banner/fresh-food-icon.png" alt="")
            h4 Fresh Food
          li
            img(src="img/banner/support-icon.png" alt="")
            h4 24/7 Support
      .hero-right
        .owl-carousel.owl-theme.w-100.hero-carousel
          .hero-carousel-item
            img.img-fluid(src="img/banner/hero-banner-sm.png" alt="")
      ul.social-icons.d-none.d-lg-block
        li
          a(href="#")
            i.ti-facebook
        li
          a(href="#")
            i.ti-twitter
        li
          a(href="#")
            i.ti-instagram
  // ================Hero Banner Section end =================
  // ================Blog Area =================
  section.blog_area.single-post-area.section-margin
    .container
      .row
        .col-lg-8.posts-list
          .single-post
            .feature-img
              img.img-fluid(src="img/blog/main-blog/m-blog-1.jpg" alt="")
            .blog_details
              h2
                | Second divided from form fish beast made every of seas
                | all gathered us saying he our
              ul.blog-info-link.mt-3.mb-4
                li
                  a(href="#")
                    i.ti-user
                    |  Travel, Lifestyle
                li
                  a(href="#")
                    i.ti-comments
                    |  03 Comments
              p.excert
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower
              p
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually
              .quote-wrapper
                .quotes
                  | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
              p
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower
              p
                | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually
          .navigation-top
            .d-sm-flex.justify-content-between.text-center
              p.like-info
                span.align-middle
                  i.ti-heart
                |  Lily and 4 people like this
              .col-sm-4.text-center.my-2.my-sm-0
                p.comment-count
                  span.align-middle
                    i.ti-comment
                  |  06 Comments
              ul.social-icons
                li
                  a(href="#")
                    i.ti-facebook
                li
                  a(href="#")
                    i.ti-twitter-alt
                li
                  a(href="#")
                    i.ti-dribbble
                li
                  a(href="#")
                    i.ti-wordpress
            .navigation-area
              .row
                .col-lg-6.col-md-6.col-12.nav-left.flex-row.d-flex.justify-content-start.align-items-center
                  .thumb
                    a(href="#")
                      img.img-fluid(src="img/blog/prev.jpg" alt="")
                  .arrow
                    a(href="#")
                      span.ti-arrow-left.text-white
                  .detials
                    p Prev Post
                    a(href="#")
                      h4 Space The Final Frontier
                .col-lg-6.col-md-6.col-12.nav-right.flex-row.d-flex.justify-content-end.align-items-center
                  .detials
                    p Next Post
                    a(href="#")
                      h4 Telescopes 101
                  .arrow
                    a(href="#")
                      span.ti-arrow-right.text-white
                  .thumb
                    a(href="#")
                      img.img-fluid(src="img/blog/next.jpg" alt="")
          .blog-author
            .media.align-items-center
              img(src="img/blog/author.png" alt="")
              .media-body
                a(href="#")
                  h4 Harvard milan
                p
                  | Second divided from form fish beast made. Every of seas all gathered use saying you're, he our dominion twon Second divided from
          .comments-area
            h4 05 Comments
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src="img/blog/c1.png" alt="")
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href="#") Emilly Blunt
                        p.date December 4, 2017 at 3:12 pm 
                      .reply-btn
                        a.btn-reply.text-uppercase(href="#") reply
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src="img/blog/c2.png" alt="")
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href="#") Emilly Blunt
                        p.date December 4, 2017 at 3:12 pm 
                      .reply-btn
                        a.btn-reply.text-uppercase(href="#") reply
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src="img/blog/c3.png" alt="")
                  .desc
                    p.comment
                      | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    .d-flex.justify-content-between
                      .d-flex.align-items-center
                        h5
                          a(href="#") Emilly Blunt
                        p.date December 4, 2017 at 3:12 pm 
                      .reply-btn
                        a.btn-reply.text-uppercase(href="#") reply
          .comment-form
            h4 Leave a Reply
            form#commentForm.form-contact.comment_form(action="#")
              .row
                .col-12
                  .form-group
                    textarea#comment.form-control.w-100(name="comment" cols="30" rows="9" placeholder="Write Comment")
                .col-sm-6
                  .form-group
                    input#name.form-control(name="name" type="text" placeholder="Name")
                .col-sm-6
                  .form-group
                    input#email.form-control(name="email" type="email" placeholder="Email")
                .col-12
                  .form-group
                    input#website.form-control(name="website" type="text" placeholder="Website")
              .form-group
                button.button.button-contactForm(type="submit") Send Message
        .col-lg-4
          .blog_right_sidebar
            aside.single_sidebar_widget.search_widget
              form(action="#")
                .form-group
                  .input-group.mb-3
                    input.form-control(type="text" placeholder="Search Keyword")
                    .input-group-append
                      button.btn(type="button")
                        i.ti-search
                button.button.rounded-0.primary-bg.text-white.w-100(type="submit") Search
            aside.single_sidebar_widget.post_category_widget
              h4.widget_title Category
              ul.list.cat-list
                li
                  a.d-flex(href="#")
                    p Resaurant food
                    p (37)
                li
                  a.d-flex(href="#")
                    p Travel news
                    p (10)
                li
                  a.d-flex(href="#")
                    p Modern technology
                    p (03)
                li
                  a.d-flex(href="#")
                    p Product
                    p (11)
                li
                  a.d-flex(href="#")
                    p Inspiration
                    p (21)
                li
                  a.d-flex(href="#")
                    p Health Care
                    p (21)
            aside.single_sidebar_widget.popular_post_widget
              h3.widget_title Recent Post
              .media.post_item
                img(src="img/blog/popular-post/post1.jpg" alt="post")
                .media-body
                  a(href="single-blog.html")
                    h3 From life was you fish...
                  p January 12, 2019
              .media.post_item
                img(src="img/blog/popular-post/post2.jpg" alt="post")
                .media-body
                  a(href="single-blog.html")
                    h3 The Amazing Hubble
                  p 02 Hours ago
              .media.post_item
                img(src="img/blog/popular-post/post3.jpg" alt="post")
                .media-body
                  a(href="single-blog.html")
                    h3 Astronomy Or Astrology
                  p 03 Hours ago
              .media.post_item
                img(src="img/blog/popular-post/post4.jpg" alt="post")
                .media-body
                  a(href="single-blog.html")
                    h3 Asteroids telescope
                  p 01 Hours ago
            aside.single_sidebar_widget.tag_cloud_widget
              h4.widget_title Tag Clouds
              ul.list
                li
                  a(href="#") project
                li
                  a(href="#") love
                li
                  a(href="#") technology
                li
                  a(href="#") travel
                li
                  a(href="#") restaurant
                li
                  a(href="#") life style
                li
                  a(href="#") design
                li
                  a(href="#") illustration
            aside.single_sidebar_widget.instagram_feeds
              h4.widget_title Instagram Feeds
              ul.instagram_row.flex-wrap
                li
                  a(href="#")
                    img.img-fluid(src="img/instagram/widget-i1.png" alt="")
                li
                  a(href="#")
                    img.img-fluid(src="img/instagram/widget-i2.png" alt="")
                li
                  a(href="#")
                    img.img-fluid(src="img/instagram/widget-i3.png" alt="")
                li
                  a(href="#")
                    img.img-fluid(src="img/instagram/widget-i4.png" alt="")
                li
                  a(href="#")
                    img.img-fluid(src="img/instagram/widget-i5.png" alt="")
                li
                  a(href="#")
                    img.img-fluid(src="img/instagram/widget-i6.png" alt="")
            aside.single_sidebar_widget.newsletter_widget
              h4.widget_title Newsletter
              form(action="#")
                .form-group
                  input.form-control(type="email" placeholder="Enter email" required="")
                button.button.rounded-0.primary-bg.text-white.w-100(type="submit") Subscribe
  // ================Blog Area =================
