extends layout

block content
  // ================Hero Banner Section start =================
  section.hero-banner.hero-banner-sm
    .hero-wrapper
      .hero-left
        h1.hero-title Latest News
        p
          | From  set together our divided own saw divided the form god 
          br.d-none.d-xl-block
          |  seas moveth you will fifth under replenish end
        ul.hero-info.d-none.d-md-block
          li
            img(src='img/banner/fas-service-icon.png' alt='')
            h4 Fast Service
          li
            img(src='img/banner/fresh-food-icon.png' alt='')
            h4 Fresh Food
          li
            img(src='img/banner/support-icon.png' alt='')
            h4 24/7 Support
      .hero-right
        .owl-carousel.owl-theme.w-100.hero-carousel
          .hero-carousel-item
            img.img-fluid(src='img/banner/hero-banner-sm.png' alt='')
      ul.social-icons.d-none.d-lg-block
        li
          a(href='#')
            i.ti-facebook
        li
          a(href='#')
            i.ti-twitter
        li
          a(href='#')
            i.ti-instagram
  // ================Hero Banner Section end =================
  // ================Blog Area =================
  section.blog_area.section-margin
    .container
      .row
        .col-lg-8.mb-5.mb-lg-0
          .blog_left_sidebar
            article.blog_item
              .blog_item_img
                img.card-img.rounded-0(src='img/blog/main-blog/m-blog-1.jpg' alt='')
                a.blog_item_date(href='#')
                  h3 15
                  p Jan
              .blog_details
                a.d-inline-block(href='single-blog.html')
                  h2 Google inks pact for new 35-storey office
                p
                  | That dominion stars lights dominion divide years for fourth have don&apos;t stars is that he earth it first without heaven in place seed it second morning saying.
                ul.blog-info-link
                  li
                    a(href='#')
                      i.ti-user
                      |  Travel, Lifestyle
                  li
                    a(href='#')
                      i.ti-comments
                      |  03 Comments
            article.blog_item
              .blog_item_img
                img.card-img.rounded-0(src='img/blog/main-blog/m-blog-2.jpg' alt='')
                a.blog_item_date(href='#')
                  h3 15
                  p Jan
              .blog_details
                a.d-inline-block(href='single-blog.html')
                  h2 Google inks pact for new 35-storey office
                p
                  | That dominion stars lights dominion divide years for fourth have don&apos;t stars is that he earth it first without heaven in place seed it second morning saying.
                ul.blog-info-link
                  li
                    a(href='#')
                      i.ti-user
                      |  Travel, Lifestyle
                  li
                    a(href='#')
                      i.ti-comments
                      |  03 Comments
            article.blog_item
              .blog_item_img
                img.card-img.rounded-0(src='img/blog/main-blog/m-blog-3.jpg' alt='')
                a.blog_item_date(href='#')
                  h3 15
                  p Jan
              .blog_details
                a.d-inline-block(href='single-blog.html')
                  h2 Google inks pact for new 35-storey office
                p
                  | That dominion stars lights dominion divide years for fourth have don&apos;t stars is that he earth it first without heaven in place seed it second morning saying.
                ul.blog-info-link
                  li
                    a(href='#')
                      i.ti-user
                      |  Travel, Lifestyle
                  li
                    a(href='#')
                      i.ti-comments
                      |  03 Comments
            article.blog_item
              .blog_item_img
                img.card-img.rounded-0(src='img/blog/main-blog/m-blog-4.jpg' alt='')
                a.blog_item_date(href='#')
                  h3 15
                  p Jan
              .blog_details
                a.d-inline-block(href='single-blog.html')
                  h2 Google inks pact for new 35-storey office
                p
                  | That dominion stars lights dominion divide years for fourth have don&apos;t stars is that he earth it first without heaven in place seed it second morning saying.
                ul.blog-info-link
                  li
                    a(href='#')
                      i.ti-user
                      |  Travel, Lifestyle
                  li
                    a(href='#')
                      i.ti-comments
                      |  03 Comments
            article.blog_item
              .blog_item_img
                img.card-img.rounded-0(src='img/blog/main-blog/m-blog-5.jpg' alt='')
                a.blog_item_date(href='#')
                  h3 15
                  p Jan
              .blog_details
                a.d-inline-block(href='single-blog.html')
                  h2 Google inks pact for new 35-storey office
                p
                  | That dominion stars lights dominion divide years for fourth have don&apos;t stars is that he earth it first without heaven in place seed it second morning saying.
                ul.blog-info-link
                  li
                    a(href='#')
                      i.ti-user
                      |  Travel, Lifestyle
                  li
                    a(href='#')
                      i.ti-comments
                      |  03 Comments
            nav.blog-pagination.justify-content-center.d-flex
              ul.pagination
                li.page-item
                  a.page-link(href='#' aria-label='Previous')
                    span(aria-hidden='true')
                      span.ti-arrow-left
                li.page-item
                  a.page-link(href='#') 1
                li.page-item.active
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#' aria-label='Next')
                    span(aria-hidden='true')
                      span.ti-arrow-right
        .col-lg-4
          .blog_right_sidebar
            aside.single_sidebar_widget.search_widget
              form(action='#')
                .form-group
                  .input-group.mb-3
                    input.form-control(type='text' placeholder='Search Keyword')
                    .input-group-append
                      button.btn(type='button')
                        i.ti-search
                button.button.rounded-0.primary-bg.text-white.w-100(type='submit') Search
            aside.single_sidebar_widget.post_category_widget
              h4.widget_title Category
              ul.list.cat-list
                li
                  a.d-flex(href='#')
                    p Resaurant food
                    p (37)
                li
                  a.d-flex(href='#')
                    p Travel news
                    p (10)
                li
                  a.d-flex(href='#')
                    p Modern technology
                    p (03)
                li
                  a.d-flex(href='#')
                    p Product
                    p (11)
                li
                  a.d-flex(href='#')
                    p Inspiration
                    p 21
                li
                  a.d-flex(href='#')
                    p Health Care (21)
                    p 09
            aside.single_sidebar_widget.popular_post_widget
              h3.widget_title Recent Post
              .media.post_item
                img(src='img/blog/popular-post/post1.jpg' alt='post')
                .media-body
                  a(href='single-blog.html')
                    h3 From life was you fish...
                  p January 12, 2019
              .media.post_item
                img(src='img/blog/popular-post/post2.jpg' alt='post')
                .media-body
                  a(href='single-blog.html')
                    h3 The Amazing Hubble
                  p 02 Hours ago
              .media.post_item
                img(src='img/blog/popular-post/post3.jpg' alt='post')
                .media-body
                  a(href='single-blog.html')
                    h3 Astronomy Or Astrology
                  p 03 Hours ago
              .media.post_item
                img(src='img/blog/popular-post/post4.jpg' alt='post')
                .media-body
                  a(href='single-blog.html')
                    h3 Asteroids telescope
                  p 01 Hours ago
            aside.single_sidebar_widget.tag_cloud_widget
              h4.widget_title Tag Clouds
              ul.list
                li
                  a(href='#') project
                li
                  a(href='#') love
                li
                  a(href='#') technology
                li
                  a(href='#') travel
                li
                  a(href='#') restaurant
                li
                  a(href='#') life style
                li
                  a(href='#') design
                li
                  a(href='#') illustration
            aside.single_sidebar_widget.instagram_feeds
              h4.widget_title Instagram Feeds
              ul.instagram_row.flex-wrap
                li
                  a(href='#')
                    img.img-fluid(src='img/instagram/widget-i1.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='img/instagram/widget-i2.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='img/instagram/widget-i3.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='img/instagram/widget-i4.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='img/instagram/widget-i5.png' alt='')
                li
                  a(href='#')
                    img.img-fluid(src='img/instagram/widget-i6.png' alt='')
            aside.single_sidebar_widget.newsletter_widget
              h4.widget_title Newsletter
              form(action='#')
                .form-group
                  input.form-control(type='email' placeholder='Enter email' required='')
                button.button.rounded-0.primary-bg.text-white.w-100(type='submit') Subscribe
  // ================Blog Area =================
