extends layout

block content
    // ================Hero Banner Section start =================
    section.hero-banner.hero-banner-sm
      .hero-wrapper
        .hero-left
          h1.hero-title Talent Chefs
          p
            | From  set together our divided own saw divided the form god 
            br.d-none.d-xl-block
            |  seas moveth you will fifth under replenish end
          ul.hero-info.d-none.d-lg-block
            li
              img(src='img/banner/fas-service-icon.png', alt='')
              h4 Fast Service
            li
              img(src='img/banner/fresh-food-icon.png', alt='')
              h4 Fresh Food
            li
              img(src='img/banner/support-icon.png', alt='')
              h4 24/7 Support
        .hero-right
          .owl-carousel.owl-theme.w-100.hero-carousel
            .hero-carousel-item
              img.img-fluid(src='img/banner/hero-banner-sm.png', alt='')
            //
              <div class="hero-carousel-item">
              <img class="img-fluid" src="img/banner/hero-banner2.png" alt="">
              </div>
              <div class="hero-carousel-item">
              <img class="img-fluid" src="img/banner/hero-banner1.png" alt="">
              </div>
              <div class="hero-carousel-item">
              <img class="img-fluid" src="img/banner/hero-banner2.png" alt="">
              </div>
        ul.social-icons.d-none.d-lg-block
          li
            a(href='#')
              i.ti-facebook
          li
            a(href='#')
              i.ti-twitter
          li
            a(href='#')
              i.ti-instagram
    // ================Hero Banner Section end =================
    // ================Chef section start =================
    section.section-margin
      .container
        .section-intro.mb-75px
          h4.intro-title Our Chef
          h2 Talent & experience member
        .row
          .col-sm-6.col-lg-4.mb-4.mb-lg-0
            .chef-card
              img.card-img.rounded-0(src='img/home/chef-1.png', alt='')
              .chef-footer
                h4 Daniesl Laran
                p Executive Chef
              .chef-overlay
                ul.social-icons
                  li
                    a(href='#')
                      i.ti-facebook
                  li
                    a(href='#')
                      i.ti-twitter-alt
                  li
                    a(href='#')
                      i.ti-skype
                  li
                    a(href='#')
                      i.ti-vimeo-alt
          .col-sm-6.col-lg-4.mb-4.mb-lg-0
            .chef-card
              img.card-img.rounded-0(src='img/home/chef-2.png', alt='')
              .chef-footer
                h4 Daniesl Laran
                p Executive Chef
              .chef-overlay
                ul.social-icons
                  li
                    a(href='#')
                      i.ti-facebook
                  li
                    a(href='#')
                      i.ti-twitter-alt
                  li
                    a(href='#')
                      i.ti-skype
                  li
                    a(href='#')
                      i.ti-vimeo-alt
          .col-sm-6.col-lg-4.mb-4.mb-lg-0
            .chef-card
              img.card-img.rounded-0(src='img/home/chef-3.png', alt='')
              .chef-footer
                h4 Daniesl Laran
                p Executive Chef
              .chef-overlay
                ul.social-icons
                  li
                    a(href='#')
                      i.ti-facebook
                  li
                    a(href='#')
                      i.ti-twitter-alt
                  li
                    a(href='#')
                      i.ti-skype
                  li
                    a(href='#')
                      i.ti-vimeo-alt
    // ================Chef section end =================
    // ================CTA section start =================
    section.cta-area.text-center
      .container
        p Some Trendy And Popular Courses Offerd
        h2 Under replenish give saying thing
        a.button(href='#') Reservation
    // ================CTA section end =================
    