extends layout
block content  
  .cover-parallax-1.overlay-1.padding(data-scrollax-parent='true')
    .cover(data-scrollax="properties: { translateY: '30%' }")
      img(src='images/img_isotope_2.jpg')
    .container
      .row.align-items-center
        .col-md-12.col-lg-12.text-center(data-aos='fade')
          h3.heading.mb-5 Contact Us
    a.templateux-mouse.js-smoothscroll(href='#next-section')
      .scroll
  // .cover-parallax-1
  #next-section.templateux-section
    .container
      .row.mb-5.justify-content-center(data-aos='fade')
        .col-md-12.text-center.mb-5
          h2.display-4.mb-4 Get In Touch
          .row.justify-content-center
            .col-md-7
              p.lead
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .row
        .col-md-12
          .block-open-time-reserve(data-aos='fade')
            .open-time.text-center
              h2.text-white Contact Info
              p.text-muted-alpha.mb-0.text-uppercase Address
              p Arthur Bldg flr, New York City, USA
              p.text-muted-alpha.mb-0.text-uppercase Email
              p.mb-5
                a.link-primary(href='mailto:info@domainname.com') info@domainname.com
              p.text-muted-alpha.mb-0.text-uppercase Phone
              p.mb-5
                a.link-primary(href='tel://+13982398483') +1 398 239 8483
            .reserve
              form(action='#')
                .row
                  .col-md-12.text-center
                    h2.mb-4 Contact Form
                .row
                  .form-group.col-md-4
                    input.form-control.border-bottom(type='text', placeholder='Name')
                  .form-group.col-md-4
                    input.form-control.border-bottom(type='email', placeholder='Email')
                  .form-group.col-md-4
                    input.form-control.border-bottom(type='text', placeholder='Phone')
                .row.mb-5
                  .form-group.col-md-12
                    textarea.form-control.border-bottom(name='', id='', cols='30', rows='10', placeholder='Write your message...')
                .row.justify-content-center
                  .col-md-4
                    input.btn.btn-black.btn-block.py-3.px-4(type='submit', value='Reserve Now')