doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Steak — Free Restaurant Website Template by Colorlib
    link(rel='stylesheet', href='css/style.css')
  body
    #site-wrap.js-animsition.animsition(data-animsition-in-class='fade-in', data-animsition-out-class='fade-out')
      nav.templateux-menu
        .templateux-menu-inner
          ul
            li
              a.animsition-link(href='index.html') Home
            li
              a(href='about.html') About
            li
              a.animsition-link(href='menu.html') Menu
            li.active
              a.animsition-link(href='gallery.html') Gallery
            li
              a.animsition-link(href='contact.html') Contact
            li.cta
              a.animsition-link.py-2.px-4(href='reservation.html') Reserve Now
      header.templateux-header
        .container-fluid
          .row
            .col-6.templateux-logo
              h1
                a.animsition-link(href='index.html') Steak
            .col-6.text-right
              button.d-block.hamburger.hamburger--spin.templateux-toggle.templateux-toggle-light.ml-auto.templateux-toggle-menu(data-toggle='collapse', data-target='#mobile-menu', aria-controls='mobile-menu', aria-expanded='false', aria-label='Toggle navigation')
                span.hamburger-box
                  span.hamburger-inner
              // .templateux-toggle
      .cover-parallax-1.overlay-1.padding(data-scrollax-parent='true')
        .cover(data-scrollax="properties: { translateY: '30%' }")
          img(src='images/img_isotope_4.jpg')
        .container
          .row.align-items-center
            .col-md-12.col-lg-12.text-center(data-aos='fade')
              h3.heading.mb-5 Restaurant's Gallery
        a.templateux-mouse.js-smoothscroll(href='#next-section')
          .scroll
      // .cover-parallax-1
      #next-section.templateux-section
        #gallery-content-center.grid
          a.grid-item(href='images/img_isotope_1.jpg', data-caption='You can write a caption here describing your photo #1', data-fancybox='gallery')
            img(src='images/img_isotope_1_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_2.jpg', data-caption='You can write a caption here describing your photo #2', data-fancybox='gallery')
            img(src='images/img_isotope_2_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_3.jpg', data-caption='You can write a caption here describing your photo #3', data-fancybox='gallery')
            img(src='images/img_isotope_3_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_4.jpg', data-caption='You can write a caption here describing your photo #4', data-fancybox='gallery')
            img(src='images/img_isotope_4_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_5.jpg', data-caption='You can write a caption here describing your photo #5', data-fancybox='gallery')
            img(src='images/img_isotope_5_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_6.jpg', data-caption='You can write a caption here describing your photo #6', data-fancybox='gallery')
            img(src='images/img_isotope_6_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_7.jpg', data-caption='You can write a caption here describing your photo #7', data-fancybox='gallery')
            img(src='images/img_isotope_7_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_8.jpg', data-caption='You can write a caption here describing your photo #8', data-fancybox='gallery')
            img(src='images/img_isotope_8_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_9.jpg', data-caption='You can write a caption here describing your photo #9', data-fancybox='gallery')
            img(src='images/img_isotope_9_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_10.jpg', data-caption='You can write a caption here describing your photo #10', data-fancybox='gallery')
            img(src='images/img_isotope_10_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_11.jpg', data-caption='You can write a caption here describing your photo #11', data-fancybox='gallery')
            img(src='images/img_isotope_11_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_12.jpg', data-caption='You can write a caption here describing your photo #12', data-fancybox='gallery')
            img(src='images/img_isotope_12_thumb.jpg', alt='')
          a.grid-item(href='images/img_isotope_13.jpg', data-caption='You can write a caption here describing your photo #13', data-fancybox='gallery')
            img(src='images/img_isotope_13_thumb.jpg', alt='')
      // .templateux-section
      .templateux-section
      // .templateux-section
      .templateux-section.bg-light
        .container
          .row.justify-content-center
            .col-md-8.testimonial-wrap(data-aos='fade')
              .quote “
              .owl-carousel.wide-slider-testimonial
                .item
                  blockquote.block-testomonial
                    p
                      | “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
                    .author
                      img(src='images/person_1.jpg', alt='Free template by TemplateUX')
                      h3 John Doe
                      p.position CEO, Founder
                .item
                  blockquote.block-testomonial
                    p
                      | “When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.”
                    .author
                      img(src='images/person_2.jpg', alt='Free template by TemplateUX')
                      h3 James Woodland
                      p.position Designer at Facebook
                .item
                  blockquote.block-testomonial
                    p
                      | “A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.”
                    .author
                      img(src='images/person_3.jpg', alt='Free template by TemplateUX')
                      h3 Rob Smith
                      p.position Product Designer at Twitter
        // .container
        // .templateux-section
        footer.templateux-footer
          .container
            .row.mb-5
              .col-md-4.pr-md-5.mb-4
                .block-footer-widget
                  h3 About Steak Restaurant
                  p
                    | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                  p
                    a.btn.btn-black.btn-outline-black.py-2.px-4(href='#') About Us
              .col-md-8
                .row
                  .col-md-3.mb-4
                    .block-footer-widget
                      h3 Quick Links
                      ul.list-unstyled
                        li
                          a(href='#') Home
                        li
                          a(href='#') Menu
                        li
                          a(href='#') Gallery
                        li
                          a(href='#') Reservation
                  .col-md-3.mb-4
                    .block-footer-widget
                      h3 Support
                      ul.list-unstyled
                        li
                          a(href='#') FAQ
                        li
                          a(href='#') Contact Us
                        li
                          a(href='#') Call Us
                  .col-md-3.mb-4
                    .block-footer-widget
                      h3 About Us
                      ul.list-unstyled
                        li
                          a(href='#') About Us
                        li
                          a(href='#') Careers
                        li
                          a(href='#') Terms of Service
                        li
                          a(href='#') Privacy Policy
                  .col-md-3.mb-4
                    .block-footer-widget
                      h3 Connect With Us
                      ul.list-unstyled.block-social
                        li
                          a.p-1(href='#')
                            span.icon-facebook-square
                        li
                          a.p-1(href='#')
                            span.icon-twitter
                        li
                          a.p-1(href='#')
                            span.icon-instagram
                        li
                          a.p-1(href='#')
                            span.icon-youtube-play
                // .row
                // .row
                .row.pt-5.text-left
                  .col-md-12.text-center
                    p
                      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                      | Copyright ©
                      script.
                        document.write(new Date().getFullYear());
                      |  All rights reserved | This template is made with 
                      i.icon-heart(aria-hidden='true')
                      |  by 
                      a.text-primary(href='https://colorlib.com', target='_blank') Colorlib
                      // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                      // .row
                      // .templateux-footer
                      // .js-animsition
                      script(src='js/scripts-all.js')
                      script(src='js/main.js')
                      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
                      script(src='js/google-map.js')
