extends layout
block content 
  .cover-parallax-1.overlay-1.padding(data-scrollax-parent='true')
    .cover(data-scrollax="properties: { translateY: '30%' }")
      img(src='images/img_isotope_4.jpg')
    .container
      .row.align-items-center
        .col-md-12.col-lg-12.text-center(data-aos='fade')
          h3.heading.mb-5 Restaurant's Gallery
    a.templateux-mouse.js-smoothscroll(href='#next-section')
      .scroll
  // .cover-parallax-1
  #next-section.templateux-section
    #gallery-content-center.grid
      a.grid-item(href='images/img_isotope_1.jpg', data-caption='You can write a caption here describing your photo #1', data-fancybox='gallery')
        img(src='images/img_isotope_1_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_2.jpg', data-caption='You can write a caption here describing your photo #2', data-fancybox='gallery')
        img(src='images/img_isotope_2_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_3.jpg', data-caption='You can write a caption here describing your photo #3', data-fancybox='gallery')
        img(src='images/img_isotope_3_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_4.jpg', data-caption='You can write a caption here describing your photo #4', data-fancybox='gallery')
        img(src='images/img_isotope_4_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_5.jpg', data-caption='You can write a caption here describing your photo #5', data-fancybox='gallery')
        img(src='images/img_isotope_5_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_6.jpg', data-caption='You can write a caption here describing your photo #6', data-fancybox='gallery')
        img(src='images/img_isotope_6_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_7.jpg', data-caption='You can write a caption here describing your photo #7', data-fancybox='gallery')
        img(src='images/img_isotope_7_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_8.jpg', data-caption='You can write a caption here describing your photo #8', data-fancybox='gallery')
        img(src='images/img_isotope_8_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_9.jpg', data-caption='You can write a caption here describing your photo #9', data-fancybox='gallery')
        img(src='images/img_isotope_9_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_10.jpg', data-caption='You can write a caption here describing your photo #10', data-fancybox='gallery')
        img(src='images/img_isotope_10_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_11.jpg', data-caption='You can write a caption here describing your photo #11', data-fancybox='gallery')
        img(src='images/img_isotope_11_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_12.jpg', data-caption='You can write a caption here describing your photo #12', data-fancybox='gallery')
        img(src='images/img_isotope_12_thumb.jpg', alt='')
      a.grid-item(href='images/img_isotope_13.jpg', data-caption='You can write a caption here describing your photo #13', data-fancybox='gallery')
        img(src='images/img_isotope_13_thumb.jpg', alt='')
  // .templateux-section
  .templateux-section
  // .templateux-section
  .templateux-section.bg-light
    .container
      .row.justify-content-center
        .col-md-8.testimonial-wrap(data-aos='fade')
          .quote “
          .owl-carousel.wide-slider-testimonial
            .item
              blockquote.block-testomonial
                p
                  | “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
                .author
                  img(src='images/person_1.jpg', alt='Free template by TemplateUX')
                  h3 John Doe
                  p.position CEO, Founder
            .item
              blockquote.block-testomonial
                p
                  | “When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.”
                .author
                  img(src='images/person_2.jpg', alt='Free template by TemplateUX')
                  h3 James Woodland
                  p.position Designer at Facebook
            .item
              blockquote.block-testomonial
                p
                  | “A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.”
                .author
                  img(src='images/person_3.jpg', alt='Free template by TemplateUX')
                  h3 Rob Smith
                  p.position Product Designer at Twitter