extends layout
block content
  .cover-parallax-1.overlay-1(data-scrollax-parent='true')
    .cover(data-scrollax="properties: { translateY: '30%' }")
      img(src='images/slider-1.jpg')
    .container
      .row.align-items-center
        .col-md-12.col-lg-12.text-center(data-aos='fade')
          h3.heading.mb-5
            | Welcome To Steak 
            br
            |  Food & Restaurant
          p
            a.btn.btn-white.btn-outline-white.py-3.px-5(href='https://vimeo.com/channels/staffpicks/93951774', data-fancybox='') Play Video
    a.templateux-mouse.js-smoothscroll(href='#next-section')
      .scroll
  // .cover-parallax-1
  #next-section.templateux-section
  .templateux-container-fullwidth
    .row
      .col-lg-12
        .row
          .col-lg-5.mb-5(data-aos='fade-up', data-scrollax-parent='true')
            div(data-scrollax="properties: { translateY: '-44%' }")
              img.img-fluid(src='images/about-image-1.png', alt='Free Website Template by TemplateUX')
          .col-lg-7
        .row.templateux-row-overlay.container
          .col-lg-6
          .col-lg-6(data-aos='fade', data-aos-delay='300')
            .templateux-heading-wrap
              h2.mb-4.templateux-heading.display-4 Welcome To Steak Food & Restaurant
            .mb-5
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
              p
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            p
              a.btn.btn-black.btn-outline-black.py-3.px-4(href='#') Read More
  // .templateux-section
  .templateux-section.bg-light
  .container
    .row.mb-5.justify-content-center(data-aos='fade')
      .col-md-12.text-center.mb-5
        h2.display-4 Restaurant Services
        .row.justify-content-center
          .col-md-7
            p.lead
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    .row
      .col-md-6.col-lg-4(data-aos='fade')
        .media.block-icon-1.d-block.text-center
          .icon.mb-3
            span.flaticon-spaguetti
          .media-body
            h3.h5 Noodles & Spaguetti
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        // .block-icon-1
      .col-md-6.col-lg-4(data-aos='fade', data-aos-delay='100')
        .media.block-icon-1.d-block.text-center
          .icon.mb-3
            span.flaticon-hamburger
          .media-body
            h3.h5 Big Hamburger
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        // .block-icon-1
      .col-md-6.col-lg-4(data-aos='fade', data-aos-delay='200')
        .media.block-icon-1.d-block.text-center
          .icon.mb-3
            span.flaticon-chicken-1
          .media-body
            h3.h5 Chicken Leg
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        // .block-icon-1
      .col-md-6.col-lg-4(data-aos='fade', data-aos-delay='300')
        .media.block-icon-1.d-block.text-center
          .icon.mb-3
            span.flaticon-vegetables
          .media-body
            h3.h5 Vegetarian Food
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        // .block-icon-1
      .col-md-6.col-lg-4(data-aos='fade', data-aos-delay='400')
        .media.block-icon-1.d-block.text-center
          .icon.mb-3
            span.flaticon-chicken
          .media-body
            h3.h5 Fried Chicken
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        // .block-icon-1
      .col-md-6.col-lg-4(data-aos='fade', data-aos-delay='500')
        .media.block-icon-1.d-block.text-center
          .icon.mb-3
            span.flaticon-rib
          .media-body
            h3.h5 Beef Steak & Rib
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        // .block-icon-1
        // .templateux-section
        .templateux-section
          .container
            .row
              .col-md-12.text-center.mb-5(data-aos='fade')
                h2.display-4.mb-4 Our Menu
                .row.justify-content-center
                  .col-md-7
                    p.lead
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              .col-md-12.text-center
                ul#pills-tab.nav.block-templateux-tab-nav.nav-pills.mb-5.pb-5(role='tablist')
                  li.nav-item(data-aos='fade', data-aos-delay='100')
                    a#pills-breakfast-tab.nav-link.active(data-toggle='pill', href='#pills-breakfast', role='tab', aria-controls='pills-breakfast', aria-selected='true') Breakfast
                  li.nav-item(data-aos='fade', data-aos-delay='200')
                    a#pills-lunch-tab.nav-link(data-toggle='pill', href='#pills-lunch', role='tab', aria-controls='pills-lunch', aria-selected='false') Lunch
                  li.nav-item(data-aos='fade', data-aos-delay='300')
                    a#pills-dinner-tab.nav-link(data-toggle='pill', href='#pills-dinner', role='tab', aria-controls='pills-dinner', aria-selected='false') Dinner
                .tab-content.text-left(data-aos='fade', data-aos-delay='400')
                  #pills-breakfast.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-breakfast-tab')
                    .row
                      .col-md-6
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_1.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Salted Fried Chicken
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $35.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_2.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Italian Sauce Mushroom
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $24.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_3.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Fried Potato w/ Garlic
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $14.50
                      .col-md-6
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_2.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Italian Sauce Mushroom
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $35.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_1.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Salted Fried Chicken
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $12.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_3.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Fried Potato w/ Garlic
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $18.50
                  #pills-lunch.tab-pane.fade(role='tabpanel', aria-labelledby='pills-lunch-tab')
                    .row
                      .col-md-6
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_3.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Fried Potato w/ Garlic
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $14.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_1.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Salted Fried Chicken
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $35.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_2.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Italian Sauce Mushroom
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $24.50
                      .col-md-6
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_3.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Fried Potato w/ Garlic
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $18.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_2.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Italian Sauce Mushroom
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $35.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_1.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Salted Fried Chicken
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $12.50
                  #pills-dinner.tab-pane.fade(role='tabpanel', aria-labelledby='pills-dinner-tab')
                    .row
                      .col-md-6
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_2.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Italian Sauce Mushroom
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $24.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_1.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Salted Fried Chicken
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $35.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_3.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Fried Potato w/ Garlic
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $14.50
                      .col-md-6
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_3.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Fried Potato w/ Garlic
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $18.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_2.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Italian Sauce Mushroom
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $35.50
                        .media.block-templateux-menu-item
                          img.mr-3(src='images/menu_1.jpg', alt='Free Template by Free-Template.co')
                          .media-body
                            h5.mt-0 Salted Fried Chicken
                            p
                              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                            h6.text-primary.menu-price $12.50
        // .templateux-section
        #templateux-counter-section.templateux-section.bg-light
          .container
            .row.justify-content-center(data-aos='fade-up')
              .col-md-12.text-center
                h2.display-4.mb-4 Today's Fun Facts
            .row
              .col-md(data-aos='fade-up', data-aos-delay='100')
                .templateux-counter.text-center
                  span.block-icon-2.flaticon-spaguetti
                  span.templateux-number(data-number='124') 0
                  span.templateux-label Japannese Noodles Sold
              .col-md(data-aos='fade-up', data-aos-delay='200')
                .templateux-counter.text-center
                  span.block-icon-2.flaticon-hamburger
                  span.templateux-number(data-number='200') 0
                  span.templateux-label Tasty Burgers Sold
              .col-md(data-aos='fade-up', data-aos-delay='300')
                .templateux-counter.text-center
                  span.block-icon-2.flaticon-chicken-1
                  span.templateux-number(data-number='234') 0
                  span.templateux-label Fried Chicken Sold
  // .templateux-section
  .templateux-section
  .container
  .row.mb-5.justify-content-center(data-aos='fade')
    .col-md-12.text-center.mb-5
      h2.display-4.mb-4 News & Events
      .row.justify-content-center
        .col-md-7
          p.lead
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
  .row
    .col-md-4
      a.block-thumbnail-1.one-whole.show-text.height-sm(href='#', style="background-image: url('images/img_isotope_1_thumb.jpg'); ", data-aos='fade', data-aos-delay='100')
        .block-thumbnail-content
          h2 Party At The Beach
          span.post-meta January 20, 2019 • 3 Comments
    .col-md-8
      a.block-thumbnail-1.one-whole.show-text.height-sm(href='#', style="background-image: url('images/img_isotope_11_thumb.jpg'); ", data-aos='fade', data-aos-delay='200')
        .block-thumbnail-content
          h2 Unlimitted Drinks
          span.post-meta January 20, 2019 • 3 Comments
    .col-md-8
      a.block-thumbnail-1.one-whole.show-text.height-sm(href='#', style="background-image: url('images/img_isotope_8_thumb.jpg'); ", data-aos='fade', data-aos-delay='300')
        .block-thumbnail-content
          h2 Party At The Beach
          span.post-meta January 20, 2019 • 3 Comments
    .col-md-4
      a.block-thumbnail-1.one-whole.show-text.height-sm(href='#', style="background-image: url('images/img_isotope_5_thumb.jpg'); ", data-aos='fade', data-aos-delay='400')
        .block-thumbnail-content
          h2 Unlimitted Drinks
          span.post-meta January 20, 2019 • 3 Comments
  .templateux-section.bg-light
  .container
  .row.justify-content-center
    .col-md-8.testimonial-wrap(data-aos='fade')
      .quote “
      .owl-carousel.wide-slider-testimonial
        .item
          blockquote.block-testomonial
            p
              | “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
            .author
              img(src='images/person_1.jpg', alt='Free template by TemplateUX')
              h3 John Doe
              p.position CEO, Founder
        .item
          blockquote.block-testomonial
            p
              | “When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.”
            .author
              img(src='images/person_2.jpg', alt='Free template by TemplateUX')
              h3 James Woodland
              p.position Designer at Facebook
        .item
          blockquote.block-testomonial
            p
              | “A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.”
            .author
              img(src='images/person_3.jpg', alt='Free template by TemplateUX')
              h3 Rob Smith
              p.position Product Designer at Twitter
  // .container
  // .templateux-section
  .templateux-section
  .container
    .row.mb-5.justify-content-center(data-aos='fade')
      .col-md-12.text-center.mb-5
        h2.display-4.mb-4 Reserve A Table
        .row.justify-content-center
          .col-md-7
            p.lead
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
    .row
      .col-md-12
        .block-open-time-reserve(data-aos='fade')
          .open-time.text-center
            h2.text-white Time Open
            p.text-muted-alpha.mb-0.text-uppercase Monday — Friday
            p
              | 7AM to 11AM (Breakfast) 
              br
              |                 12PM to 11PM (Lunc/Dinner) 
              br
            p.text-muted-alpha.mb-3.text-uppercase Saturday (CLOSED) 
            p.text-muted-alpha.mb-0.text-uppercase Sunday
            p
              | 7AM to 11AM (Breakfast) 
              br
              |                 12PM to 11PM (Lunc/Dinner) 
              br
            p
              a.link-primary(href='tel://+13982398483') +1 398 239 8483
          .reserve
            form(action='#')
              .row
                .col-md-12.text-center
                  h2.mb-4 Reservation Form
              .row
                .form-group.col-md-4
                  .input-with-icon-wrap
                    span.icon.ion-chevron-down
                    select.form-control.border-bottom(name='', id='')
                      option(value='') 1 Person
                      option(value='') 2 Persons
                      option(value='') 3 Persons
                      option(value='') 4 Persons
                      option(value='') 5+ Persons
                .form-group.col-md-4
                  .input-with-icon-wrap
                    span.icon.ion-calendar
                    input.form-control.border-bottom.js-datepicker(type='text', placeholder='Date')
                .form-group.col-md-4
                  .input-with-icon-wrap
                    span.icon.ion-android-time
                    input.form-control.border-bottom.js-timepicker(type='text', placeholder='Time')
              .row.mb-5
                .form-group.col-md-4
                  input.form-control.border-bottom(type='text', placeholder='Name')
                .form-group.col-md-4
                  input.form-control.border-bottom(type='text', placeholder='Phone')
                .form-group.col-md-4
                  input.form-control.border-bottom(type='email', placeholder='Email')
              .row.justify-content-center
                .col-md-4
                  input.btn.btn-black.btn-block.py-3.px-4(type='submit', value='Reserve Now')
  #map.block-map-1
