extends layout
block content  
  .cover-parallax-1.overlay-1.padding(data-scrollax-parent='true')
    .cover(data-scrollax="properties: { translateY: '30%' }")
      img(src='images/img_isotope_8.jpg')
    .container
      .row.align-items-center
        .col-md-12.col-lg-12.text-center(data-aos='fade')
          h3.heading.mb-5 Reservation
    a.templateux-mouse.js-smoothscroll(href='#next-section')
      .scroll
  // .cover-parallax-1
  #next-section.templateux-section
    .container
      .row.mb-5.justify-content-center(data-aos='fade')
        .col-md-12.text-center.mb-5
          h2.display-4.mb-4 Reserve A Table
          .row.justify-content-center
            .col-md-7
              p.lead
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .row
        .col-md-12
          .block-open-time-reserve(data-aos='fade')
            .open-time.text-center
              h2.text-white Time Open
              p.text-muted-alpha.mb-0.text-uppercase Monday — Friday
              p
                | 7AM to 11AM (Breakfast) 
                br
                |                 12PM to 11PM (Lunc/Dinner) 
                br
              p.text-muted-alpha.mb-3.text-uppercase Saturday (CLOSED) 
              p.text-muted-alpha.mb-0.text-uppercase Sunday
              p
                | 7AM to 11AM (Breakfast) 
                br
                |                 12PM to 11PM (Lunc/Dinner) 
                br
              p
                a.link-primary(href='tel://+13982398483') +1 398 239 8483
            .reserve
              form(action='/event' method='POST')
                .row
                  .col-md-12.text-center
                    h2.mb-4 Reservation Form
                .row
                  .form-group.col-md-4
                    .input-with-icon-wrap
                      span.icon.ion-chevron-down
                      select.form-control.border-bottom(name='persons', id='')
                        option(value='1') 1 Person
                        option(value='2') 2 Persons
                        option(value='3') 3 Persons
                        option(value='4') 4 Persons
                        option(value='5+') 5+ Persons
                  .form-group.col-md-4
                    .input-with-icon-wrap
                      span.icon.ion-calendar
                      input.form-control.border-bottom.js-datepicker(type='text', placeholder='Date',name='date')
                  .form-group.col-md-4
                    .input-with-icon-wrap
                      span.icon.ion-android-time
                      input.form-control.border-bottom.js-timepicker(type='text', placeholder='Time', name='time')
                .row.mb-5
                  .form-group.col-md-4
                    input.form-control.border-bottom(type='text', placeholder='Name',name='name')
                  .form-group.col-md-4
                    input.form-control.border-bottom(type='text', placeholder='Phone',name='phoneNumber')
                  .form-group.col-md-4
                    input.form-control.border-bottom(type='email', placeholder='Email',name='email')
                .row.justify-content-center
                  .col-md-4
                    input.btn.btn-black.btn-block.py-3.px-4(type='submit', value='Reserve Now')