html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Atomic — Free Business Website Template by Colorlib
    link(rel='stylesheet', href='css/style.css')
  body
    #site-wrap.js-animsition.animsition(data-animsition-in-class='fade-in', data-animsition-out-class='fade-out')
      header.templateux-navbar.dark(role='banner')
        .container(data-aos='fade-down')
          .row
            .col-3.templateux-logo
              a.animsition-link(href='index.html') Atomic
            nav.col-9.site-nav
              button.d-block.d-md-none.hamburger.hamburger--spin.templateux-toggle.templateux-toggle-light.ml-auto.templateux-toggle-menu(data-toggle='collapse', data-target='#mobile-menu', aria-controls='mobile-menu', aria-expanded='false', aria-label='Toggle navigation')
                span.hamburger-box
                  span.hamburger-inner
              // .templateux-toggle
              ul.sf-menu.templateux-menu.d-none.d-md-block
                li
                  a.animsition-link(href='index.html') Home
                li
                  a.animsition-link(href='about.html') About
                li.active
                  a.animsition-link(href='services.html') Services
                  ul
                    li
                      a(href='#') Service 1
                    li
                      a(href='#') Service 2
                    li
                      a(href='#') Service 3
                      ul
                        li
                          a(href='#') Service 1
                        li
                          a(href='#') Service 2
                        li
                          a(href='#') Service 3
                          ul
                            li
                              a(href='#') Service 1
                            li
                              a(href='#') Service 2
                            li
                              a(href='#') Service 3
                li
                  a.animsition-link(href='gallery.html') Gallery
                li
                  a.animsition-link(href='blog.html') Blog
                li
                  a.animsition-link(href='contact.html') Contact
              // .templateux-menu
              // .site-nav
              // .row
              // .container
              // .templateux-navba
              .templateux-cover(style='background-image: url(images/slider-1.jpg);')
                .container
                  .row.align-items-center
                    .col-md-6
                      h6(data-aos='fade-up') Services
                      h1.heading.mb-3(data-aos='fade-up') When she reached the first hills of the italic mountains.
              // .templateux-cover
              .templateux-section
                .container
                  .row.mb-5
                    .col-md-4.mb-4(data-aos='fade-up')
                      .media.block-icon-1.d-block.text-center
                        .icon.mb-3
                          span.ion-ios-loop
                        .media-body
                          h3.h5.mb-4 Regular Update
                          p
                            | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                          p
                            a.btn.btn-sm.btn-primary.px-3(href='#') Read More
                      // .block-icon-1
                    .col-md-4.mb-4(data-aos='fade-up', data-aos-delay='100')
                      .media.block-icon-1.d-block.text-center
                        .icon.mb-3
                          span.ion-ios-infinite-outline
                        .media-body
                          h3.h5.mb-4 Infinite Posibilities
                          p
                            | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                          p
                            a.btn.btn-sm.btn-primary.px-3(href='#') Read More
                      // .block-icon-1
                    .col-md-4.mb-4(data-aos='fade-up', data-aos-delay='200')
                      .media.block-icon-1.d-block.text-center
                        .icon.mb-3
                          span.ion-ios-locked-outline
                        .media-body
                          h3.h5.mb-4 Good Security
                          p
                            | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                          p
                            a.btn.btn-sm.btn-primary.px-3(href='#') Read More
                      // .block-icon-1
                    .col-md-4.mb-4(data-aos='fade-up', data-aos-delay='300')
                      .media.block-icon-1.d-block.text-center
                        .icon.mb-3
                          span.ion-ios-nutrition-outline
                        .media-body
                          h3.h5.mb-4 Orange for Carrots
                          p
                            | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                          p
                            a.btn.btn-sm.btn-primary.px-3(href='#') Read More
                      // .block-icon-1
                    .col-md-4.mb-4(data-aos='fade-up', data-aos-delay='400')
                      .media.block-icon-1.d-block.text-center
                        .icon.mb-3
                          span.ion-ios-lightbulb-outline
                        .media-body
                          h3.h5.mb-4 Intuitive Thinking
                          p
                            | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                          p
                            a.btn.btn-sm.btn-primary.px-3(href='#') Read More
                      // .block-icon-1
                    .col-md-4.mb-4(data-aos='fade-up', data-aos-delay='500')
                      .media.block-icon-1.d-block.text-center
                        .icon.mb-3
                          span.ion-ios-videocam-outline
                        .media-body
                          h3.h5.mb-4 Play Video
                          p
                            | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                          p
                            a.btn.btn-sm.btn-primary.px-3(href='#') Read More
                      // .block-icon-1
                      // .templateux-section
                      footer.templateux-footer.bg-light
                        .container
                          .row.mb-5
                            .col-md-4.pr-md-5
                              .block-footer-widget
                                h3 About
                                p
                                  | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            .col-md-8
                              .row
                                .col-md-3
                                  .block-footer-widget
                                    h3 Learn More
                                    ul.list-unstyled
                                      li
                                        a(href='#') How it works?
                                      li
                                        a(href='#') Useful Tools
                                      li
                                        a(href='#') Pricing
                                      li
                                        a(href='#') Sitemap
                                .col-md-3
                                  .block-footer-widget
                                    h3 Support
                                    ul.list-unstyled
                                      li
                                        a(href='#') FAQ
                                      li
                                        a(href='#') Contact Us
                                      li
                                        a(href='#') Help Desk
                                      li
                                        a(href='#') Knowledgebase
                                .col-md-3
                                  .block-footer-widget
                                    h3 About Us
                                    ul.list-unstyled
                                      li
                                        a(href='#') About Us
                                      li
                                        a(href='#') Careers
                                      li
                                        a(href='#') Terms of Service
                                      li
                                        a(href='#') Privacy Policy
                                .col-md-3
                                  .block-footer-widget
                                    a.btn.btn-primary.mb-3(href='#') Download for free
                                    p Connect With Us
                                    ul.list-unstyled.block-social
                                      li
                                        a.p-1(href='#')
                                          span.icon-facebook-square
                                      li
                                        a.p-1(href='#')
                                          span.icon-twitter
                                      li
                                        a.p-1(href='#')
                                          span.icon-github
                              // .row
                              // .row
                              .row.pt-5.text-left
                                .col-md-12.text-left
                                  p
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                    | Copyright ©
                                    script.
                                      document.write(new Date().getFullYear());
                                    |  All rights reserved | This template is made with 
                                    i.icon-heart(aria-hidden='true')
                                    |  by 
                                    a.text-primary(href='https://colorlib.com', target='_blank') Colorlib
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                    // .row
                                    // .templateux-footer
                                    // .js-animsition
                                    script(src='js/scripts-all.js')
                                    script(src='js/main.js')
