doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='CodePixar')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Blog Details
  link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Roboto:400,500' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/availability-calendar.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/bootstrap-datepicker.css')
  link(rel='stylesheet' href='css/main.css')
// ================ Start Header Area =================
header.header-area
  .container
    .header-wrap
      .header-top.d-flex.justify-content-between.align-items-center.navbar-expand-md
        .col.menu-left
          a(href='index.html') Home
          a(href='menu.html') menu
          a(href='about.html') about
        .col-3.logo
          a(href='index.html')
            img.mx-auto(src='img/logo.png' alt='')
        nav.col.navbar.navbar-expand-md.justify-content-end
          // Toggler/collapsibe Button
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
            span.lnr.lnr-menu
          // Navbar links
          #collapsibleNavbar.collapse.navbar-collapse.menu-right
            ul.navbar-nav.justify-content-center.w-100
              li.nav-item.hide-lg
                a.nav-link(href='index.html') Home
              li.nav-item.hide-lg
                a.nav-link(href='menu.html') menu
              li.nav-item.hide-lg
                a.nav-link(href='about.html') about
              // Dropdown
              li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
                  | Pages
                .dropdown-menu
                  a.dropdown-item(href='contact.html') Contact
                  a.dropdown-item(href='elements.html') Elements
              li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle.active(href='#' data-toggle='dropdown')
                  | Blog
                .dropdown-menu
                  a.dropdown-item(href='blog-home.html') Blog
                  a.dropdown-item(href='blog-single.html') Blog Detail
              li.nav-item
                a.nav-link(href='gallery.html') Gallery
// ================ End Header Area =================
// ================ Start banner Area =================
section.banner-area.relative
  .container
    .row.height.align-items-center.justify-content-center
      .banner-content.col-lg-6
        h1 about us
        hr
        .breadcrmb
          p
            a(href='index.html') home
            span.lnr.lnr-arrow-right
            a(href='blog-home.html') Blog
            span.lnr.lnr-arrow-right
            a(href='blog-single.html') Blog Details
// ================ End banner Area =================
// Start post-content Area
section.post-content-area.single-post-area
  .container
    .row
      .col-lg-8.posts-list
        .single-post.row
          .col-lg-12
            .feature-img
              img.img-fluid(src='img/blog/feature-img1.jpg' alt='')
          .col-lg-3.col-md-3.meta-details
            ul.tags
              li
                a(href='#') Food,
              li
                a(href='#') Technology,
              li
                a(href='#') Politics,
              li
                a(href='#') Lifestyle
            .user-details.row
              p.user-name.col-lg-12.col-md-12.col-6
                a(href='#') Mark wiens
                span.lnr.lnr-user
              p.date.col-lg-12.col-md-12.col-6
                a(href='#') 12 Dec, 2017
                span.lnr.lnr-calendar-full
              p.view.col-lg-12.col-md-12.col-6
                a(href='#') 1.2M Views
                span.lnr.lnr-eye
              p.comments.col-lg-12.col-md-12.col-6
                a(href='#') 06 Comments
                span.lnr.lnr-bubble
              ul.social-links.col-lg-12.col-md-12.col-6
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-github
                li
                  a(href='#')
                    i.fa.fa-behance
          .col-lg-9.col-md-9
            h3.mt-20.mb-20 Astronomy Binoculars A Great Alternative
            p.excert
              | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to
              | spend money
              | on boot camp when you can get the MCSE study materials yourself at a fraction.
            p
              | Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend
              | money on boot
              | camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the
              | willpower
              | to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a
              | self-imposed
            p
              | Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend
              | money on boot
              | camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the
              | willpower
              | to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a
              | self-imposed
          .col-lg-12
            .quotes
              | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to
              | spend money
              | on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who
              | has
              | the willpower to actually sit through a self-imposed MCSE training.
            .row.mt-30.mb-30
              .col-6
                img.img-fluid(src='img/blog/post-img1.jpg' alt='')
              .col-6
                img.img-fluid(src='img/blog/post-img2.jpg' alt='')
              .col-lg-12.mt-30
                p
                  | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to
                  | spend money
                  | on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who
                  | has
                  | the willpower.
                p
                  | MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to
                  | spend money
                  | on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who
                  | has
                  | the willpower.
        .navigation-area
          .row
            .col-lg-6.col-md-6.col-12.nav-left.flex-row.d-flex.justify-content-start.align-items-center
              .thumb
                a(href='#')
                  img.img-fluid(src='img/blog/prev.jpg' alt='')
              .arrow
                a(href='#')
                  span.lnr.text-white.lnr-arrow-left
              .detials
                p Prev Post
                a(href='#')
                  h4 Space The Final Frontier
            .col-lg-6.col-md-6.col-12.nav-right.flex-row.d-flex.justify-content-end.align-items-center
              .detials
                p Next Post
                a(href='#')
                  h4 Telescopes 101
              .arrow
                a(href='#')
                  span.lnr.text-white.lnr-arrow-right
              .thumb
                a(href='#')
                  img.img-fluid(src='img/blog/next.jpg' alt='')
        .comments-area
          h4 05 Comments
          .comment-list
            .single-comment.justify-content-between.d-flex
              .user.justify-content-between.d-flex
                .thumb
                  img(src='img/blog/c1.jpg' alt='')
                .desc
                  h5
                    a(href='#') Emilly Blunt
                  p.date December 4, 2017 at 3:12 pm 
                  p.comment
                    | Never say goodbye till the end comes!
              .reply-btn
                a.btn-reply.text-uppercase(href='') reply
          .comment-list.left-padding
            .single-comment.justify-content-between.d-flex
              .user.justify-content-between.d-flex
                .thumb
                  img(src='img/blog/c2.jpg' alt='')
                .desc
                  h5
                    a(href='#') Elsie Cunningham
                  p.date December 4, 2017 at 3:12 pm 
                  p.comment
                    | Never say goodbye till the end comes!
              .reply-btn
                a.btn-reply.text-uppercase(href='') reply
          .comment-list.left-padding
            .single-comment.justify-content-between.d-flex
              .user.justify-content-between.d-flex
                .thumb
                  img(src='img/blog/c3.jpg' alt='')
                .desc
                  h5
                    a(href='#') Annie Stephens
                  p.date December 4, 2017 at 3:12 pm 
                  p.comment
                    | Never say goodbye till the end comes!
              .reply-btn
                a.btn-reply.text-uppercase(href='') reply
          .comment-list
            .single-comment.justify-content-between.d-flex
              .user.justify-content-between.d-flex
                .thumb
                  img(src='img/blog/c4.jpg' alt='')
                .desc
                  h5
                    a(href='#') Maria Luna
                  p.date December 4, 2017 at 3:12 pm 
                  p.comment
                    | Never say goodbye till the end comes!
              .reply-btn
                a.btn-reply.text-uppercase(href='') reply
          .comment-list
            .single-comment.justify-content-between.d-flex
              .user.justify-content-between.d-flex
                .thumb
                  img(src='img/blog/c5.jpg' alt='')
                .desc
                  h5
                    a(href='#') Ina Hayes
                  p.date December 4, 2017 at 3:12 pm 
                  p.comment
                    | Never say goodbye till the end comes!
              .reply-btn
                a.btn-reply.text-uppercase(href='') reply
        .comment-form
          h4 Leave a Comment
          form
            .form-group.form-inline
              .form-group.col-lg-6.col-md-12.name
                input#name.form-control(type='text' placeholder='Enter Name' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'")
              .form-group.col-lg-6.col-md-12.email
                input#email.form-control(type='email' placeholder='Enter email address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'")
            .form-group
              input#subject.form-control(type='text' placeholder='Subject' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'")
            .form-group
              textarea.form-control.mb-10(rows='5' name='message' placeholder='Messege' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required='')
            a.primary-btn(href='#') Post Comment
      .col-lg-4.sidebar-widgets
        .widget-wrap
          .single-sidebar-widget.search-widget
            form.search-form(action='#')
              input(placeholder='Search Posts' name='search' type='text' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'")
              button(type='submit')
                i.fa.fa-search
          .single-sidebar-widget.user-info-widget
            img(src='img/blog/user-info.png' alt='')
            a(href='#')
              h4 Charlie Barber
            p
              | Senior blog writer
            ul.social-links
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-github
              li
                a(href='#')
                  i.fa.fa-behance
            p
              | Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend
              | money on boot
              | camp when you can get. Boot camps have itssuppor ters andits detractors.
          .single-sidebar-widget.popular-post-widget
            h4.popular-title Popular Posts
            .popular-post-list
              .single-post-list.d-flex.flex-row.align-items-center
                .thumb
                  img.img-fluid(src='img/blog/pp1.jpg' alt='')
                .details
                  a(href='blog-single.html')
                    h6 Space The Final Frontier
                  p 02 Hours ago
              .single-post-list.d-flex.flex-row.align-items-center
                .thumb
                  img.img-fluid(src='img/blog/pp2.jpg' alt='')
                .details
                  a(href='blog-single.html')
                    h6 The Amazing Hubble
                  p 02 Hours ago
              .single-post-list.d-flex.flex-row.align-items-center
                .thumb
                  img.img-fluid(src='img/blog/pp3.jpg' alt='')
                .details
                  a(href='blog-single.html')
                    h6 Astronomy Or Astrology
                  p 02 Hours ago
              .single-post-list.d-flex.flex-row.align-items-center
                .thumb
                  img.img-fluid(src='img/blog/pp4.jpg' alt='')
                .details
                  a(href='blog-single.html')
                    h6 Asteroids telescope
                  p 02 Hours ago
          .single-sidebar-widget.ads-widget
            a(href='#')
              img.img-fluid(src='img/blog/ads-banner.jpg' alt='')
          .single-sidebar-widget.post-category-widget
            h4.category-title Post Catgories
            ul.cat-list
              li
                a.d-flex.justify-content-between(href='#')
                  p Technology
                  p 37
              li
                a.d-flex.justify-content-between(href='#')
                  p Lifestyle
                  p 24
              li
                a.d-flex.justify-content-between(href='#')
                  p Fashion
                  p 59
              li
                a.d-flex.justify-content-between(href='#')
                  p Art
                  p 29
              li
                a.d-flex.justify-content-between(href='#')
                  p Food
                  p 15
              li
                a.d-flex.justify-content-between(href='#')
                  p Architecture
                  p 09
              li
                a.d-flex.justify-content-between(href='#')
                  p Adventure
                  p 44
          .single-sidebar-widget.newsletter-widget
            h4.newsletter-title Newsletter
            p
              | Here, I focus on a range of items and features that we use in life without giving them a second thought.
            .form-group.d-flex.flex-row
              .col-autos
                .input-group
                  .input-group-prepend
                    .input-group-text
                      i.fa.fa-envelope(aria-hidden='true')
                  input#inlineFormInputGroup.form-control(type='text' placeholder='Enter email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'")
              a.bbtns(href='#') Subcribe
            p.text-bottom
              | You can unsubscribe at any time
          .single-sidebar-widget.tag-cloud-widget
            h4.tagcloud-title Tag Clouds
            ul
              li
                a(href='#') Technology
              li
                a(href='#') Fashion
              li
                a(href='#') Architecture
              li
                a(href='#') Fashion
              li
                a(href='#') Food
              li
                a(href='#') Technology
              li
                a(href='#') Lifestyle
              li
                a(href='#') Art
              li
                a(href='#') Adventure
              li
                a(href='#') Food
              li
                a(href='#') Lifestyle
              li
                a(href='#') Adventure
// End post-content Area
// start footer Area
footer.footer-area.section-gap
  .container
    .row
      .col-lg-3.col-md-6.col-sm-6
        .single-footer-widget
          h4 About Us
          p
            | The state of Utah in the United States is home to lots of beautiful National Parks, &amp; Bryce Canyon National Park
            | ranks as
            | three of the magnificent &amp; awe inspiring.
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Contact Us
          p
            | 56/8, rockybeach road, santa monica, Los angeles, California - 59620.
          p.number
            | 012-6532-568-9746 
            br
            |  012-6532-569-9748
      .col-lg-5.col-md-6.col-sm-6
        .single-footer-widget
          h4 Newsletter
          p You can trust us. we only send offers, not a single spam.
          #mc_embed_signup.d-flex.flex-row
            form.navbar-form(action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group.add-on.align-items-center.d-flex
                input.form-control(name='email' placeholder='Your Email address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email address'" required='' type='email')
                div(style='position: absolute; left: -5000px;')
                  input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' value='' type='text')
                .input-group-btn
                  button.genric-btn
                    span.lnr.lnr-arrow-right
              .info.mt-20
    .footer-bottom.row.align-items-center
      p.footer-text.m-0.col-lg-6.col-md-12
        | Copyright &copy; 2018 All rights reserved to 
        a(href='#') Colorlib
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
